* {
    margin: 0;
    padding: 0;
    font-family:'Roboto' , sans-serif;
}

.header-logo {
    max-width: 130px;
    max-height: 130px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 76px;
}

.placeholder {
    width: 400px;
    height: 200px;
    object-fit: fill;
}

.hero {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    height: 27pc;
    justify-content: center;
    align-content: center;
    gap: 40px;
    flex-flow: column wrap;

}

.left-hero {
    max-width: 370px;
    max-height: 370px;
}

h1 {
    font-weight: 900;
    font-size: 42px;
}

.secondarytext {
    font-size: 18px;
    color: #e5e7eb;
}

.buttonup {
    background-color: #3882f6;
    color: #e5e7eb;
    width: 100px;
    height: 26px;
    border-radius: 10px;
    border: none;
    font-weight: 900;
    margin-top: 10px;
    font-size: 14px;
}

.title-bh {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.catimage {
    border-radius: 14px;
    object-fit: fill;
    height: 170px;
    width: 150px;
    border: 3px solid #3882f6;
}

.textcat {
    font-size: 18px;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.below-hero {
    height: 440px;
}

.title-bh {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.catainer {
    display: flex;
    gap: 42px;
    justify-content: center;
    margin-top: 60px;
}

.inspiration {
    display: flex;
    /* flex-flow: column; */
    background-color: #e5e7eb;
    height: 440px;
    justify-content: center;
    align-items: center;
}

.quote {
    max-width: 800px;
    font-size: 26px;
    font-style: italic;
    color: #1f2937;
}

.calvin {
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
    color: #1f2937 ;
    font-size: 19px;
}

.above-footer {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.bluecontainer {
    display: flex;
    /* flex-direction: column; */
    background-color: #3882f6;
    height: 120px;
    width: 900px;
    justify-content: space-around;
    /* justify-content: center; */
    align-items: center;
    border-radius: 10px;

}

.signbutton {
    height: 30px;
    width: 100px;
    color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 5px;
    border: 2px solid #e5e7eb;
}

.calltext , .signtext {
    color: #e5e7eb;
}

.calltext {
    font-size: 24px;
    font-weight: bold;
}

.push-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 0px; */
}

.footer {
    display: flex;
    background-color: #1f2937;
    height: 53px;
    justify-content: center;
    align-items: center;
}

.footext {
    display: flex;
    color: #e5e7eb;
}






